
/* TO-DO
- Dynamically shape images based on stretch of webpage, place next to each other at center
 */

body { 
     margin:0; 
}

/* Style the header */
.header {
  overflow: hidden;
  padding: 50px 20px;
  text-align:center;
  background-color: white;
  /* background-image: linear-gradient(to bottom right, turquoise, rgb(85, 231, 0)); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* General Link Style */
.header a {
    color: rgb(61, 61, 61);
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
  /* background-color: #fc7878;
  padding: 10px 10px;
  border-radius: 25px; */
}

/* Logo */
.header a.logo {
    font-size: 32px;
    font-weight:bold;
    color:black;
    left:40%;
    position: absolute;
    font-family: 'Poppins';

}

/* for "Work" */
.header a.active {
    color: rgb(0, 0, 0);
}

.header a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* for "Contact & About" */
.header-right {
    /* float:right; */
    position: relative;
    right: 0;
    /* width: 20vw; */
    display: flex;
    flex-flow: row wrap;
    font-family: 'Poppins';
    
}

#header-contact {
    /* margin-right: 20px; */
    margin-right: 25px;
    font-family: 'Poppins';

}

#header-about {
    font-family: 'Poppins';
    margin-right: 80px;
}

#header-projects {
    font-family: 'Poppins';
    margin-left: 80px;
}

.header-left {
  float:left;
}

.headline {
    text-align: center;
    font-family: 'Poppins';font-size: 22px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    justify-content: flex-end;

}

.flex-container > button {
    background-color: #f1f1f1;
    width: 500px;
  }

/* box 1 */

.btn-img {
  width: 40%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 520px;
  background-color:white;
  cursor: pointer;
  border: none;
  margin-left: 100px;
  /* float: left; */
  /* left: 200px; */
}

.btn-img:hover {
    /* background-color: grey;
    box-shadow: inset 0px 0px 0px 10px white; */
}

img.resize {
    width: 100%;
    height: 500px;
    object-fit: cover;

}

img.aloe {
    max-width: 100%;
    height: 300px;
    object-fit: cover;

}

img.skol {
    width: 400px;
    height: 500px;
    object-fit: cover;

}

img.brown {
    /* width: 400px;
    height: 500px;*/
    object-fit: cover; 
    max-width: 100%;
        max-height: 100%;
}

.img-description {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 40px;
    color: black;
    visibility: hidden;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    height: max-content;
    line-height: 350px;
    padding: 50px;
}

.btn-img:hover img{
    opacity: .7;
    transition: transform 1s;
    transform: scale(1.2);
}

.btn-img:hover .img-description {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s, visibility .2s;
}


/* box 2 */

/* box 3 */

/* box 4 */

/* box 5 */

/* box 6 */
